<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Index Page!</h1>
  <a href="/new">Create new dog</a>
  <!-- Display all dogs -->
  <% for (var x in dogs) { %>
    <p>Name: <a href="/<%= dogs[x]._id %>"><%= dogs[x].name %></a>
      <a href="/<%= dogs[x]._id %>/edit/"><button>Edit dog</button></a>
      <form action="/<%= dogs[x]._id %>/delete/" method='post'>
        <input type="submit" value="Delete">
      </form>
    </p>
  <% } %>
</body>
</html>
