<html>
<body>
  <h2>Submitted Information:<h2>
  <ul>
    <li>User Name:<%= info.name %></li>
    <li>Favorite language:<%= info.lang %></li>
    <li>Location:<%= info.local %></li>
    <li>Comments:<%= info.comments %></li>
  </ul>


</body>
</html>
