<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>The Dojo Message Board</h1>
  <form action = "/process" method = "POST">
    Name: <input type="text" name = "name">
    Message: <textarea name="upost" cols="20" rows="2"></textarea>
    <input type = "submit" value = "Post Message">
  </form>
  <% for (var x in info) { %>
    Post Name :<%= info[x].name %> Post Message: <%= info[x].message %>
  <% } %>
</body>
</html>
