<html>
<body>
  <h1>Welcome To Quoting Dojo</h1>
  <div>
    <form action = "/quotes" method = "POST">
      Your Name:<input type = "text" name = "name">
      Your quote:<input type = "text" name = "quote">
      <input type = "submit" value = "SUBMIT">
    </form>
</body>
</html>
