<html>
<body>
  <h1>Here are some Awsome Quotes!</h1>
  <% for (const i of info) { %>
    <ul>
      <li>Name: <%= i.name  %>, quote: <%= i.quote %></li>
    </ul>
  <% } %>
</body>
</html>
