<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <ul><li><button [routerLink]="['/Seattle_WA']">Seattle WA</button></li>
    <li><button [routerLink]="['/San_Jose_CA']">San Jose CA</button></li>
    <li><button [routerLink]="['/Burbank_CA']">Burbank_CA</button></li>
    <li><button [routerLink]="['/Dallas_TX']">Dallas_TX</button></li>
    <li><button [routerLink]="['/Washington_DC']">Washington_DC</button></li>
    <li><button [routerLink]="['/Chicago_IL']">Chicago_IL</button></li></ul>

</div>
<router-outlet></router-outlet>
