<h2>Quotes by {{author.name}}</h2>
<div *ngFor="let quote of author.quote">
  <ul>
    <li>{{quote.quote}}<button (click) = "remove(quote.quote)">Delete</button></li>
  </ul>
</div>
<ul>
  <li><a [routerLink]="['create/author.id']">Add Quote</a></li>
  <li><a [routerLink]="['/']">Home</a></li>
</ul>
<router-outlet></router-outlet>

<!-- <form (submit)='addQuote($event,form)' #form='ngForm'>
  use the json pipe to see how newTask changes in real time
  Quote: <input type="text" name="author.quote" [(ngModel)]="author.quote" />
  <input type="submit" value="Create Quote" />
</form> -->
